<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cyberark.identity"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.cyberark.identity.CyberarkAuthActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.cyberark.identity.CyberarkRedirectActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="M">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${cyberarkIdentityHost}"
                    android:pathPrefix="/android/${applicationId}/callback"
                    android:scheme="${cyberarkIdentityScheme}" />
            </intent-filter>
        </activity>
        <activity android:name="com.cyberark.identity.ScanQRCodeLoginActivity"/>
    </application>

</manifest>